<!DOCTYPE html>
{% load static %}
<html>
  <head>
      <title>Andrew Theodore</title>
      <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Comfortaa|Lato" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" src="jquery.lazy.min.js"></script>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'static/myproject/css/style.css' %}">
      
      <script>
          $(document).ready(function () { 

              flag = 0; 
              
              $("#contactbutton").click(function () { 
              if (flag == 0) { //muncul
                  $("#contactbutton").animate({ height: "5VW", width: "5VW" }, 100); 
                  $(".button1").animate({ top: "15%", left: "27.5%" }, 200); 
                  $(".button1").animate({ height: "5VW", width: "5VW" }, 200); 
                  $(".button1").css("background-color", "#42e2d5"); 
                  $(".button1 img").delay(500).fadeIn(100); 
      
                  $(".button2").animate({ top: "15%", left: "47.5%" }, 200); 
                  $(".button2").animate({ height: "5VW", width: "5VW" }, 200); 
                  $(".button2").css("background-color", "#dc42f4"); 
                  $(".button2 img").delay(500).fadeIn(100); 
      
                  $(".button3").animate({ top: "15%", left: "67.5%" }, 200); 
                  $(".button3").animate({ height: "5VW", width: "5VW" }, 200); 
                  $(".button3").css("background-color", "#680d96"); 
                  $(".button3 img").delay(500).fadeIn(100); 
      
                  $("#contactbutton").css("background-image", "url({% static 'static/myproject/css/close.png' %})"); 
                  $("#contactbutton").css("background-size", "100% 100%"); 
                  $("#contactbutton").css("background-position", "center"); 
                  $("#contactbutton").css("background-repeat", "no-repeat"); 
      
                  flag = 1; 
      
              } 
      
              else { //ngilang
                  $("#contactbutton").animate({ height: "5VW", width: "5VW" }, 100); 
                  $(".button1").animate({ top: "62.45%", left: "49.95%" }, 200); 
                  $(".button1").animate({ height: "0.1VW", width: "0.1VW" }, 100); 
                  $(".button1").css("background-color", "#fcf8cb"); 
                  $(".button1 img").css("display", "none"); 
                  $(".button2").animate({ top: "62.45%", left: "49.95%" }, 200); 
                  $(".button2").animate({ height: "0.1VW", width: "0.1VW" }, 100); 
                  $(".button2").css("background-color", "#fcf8cb"); 
                  $(".button2 img").css("display", "none"); 
                  $(".button3").animate({ top: "62.45%", left: "49.95%" }, 200); 
                  $(".button3").animate({ height: "0.1VW", width: "0.1VW" }, 100); 
                  $(".button3").css("background-color", "#fcf8cb"); 
                  $(".button3 img").css("display", "none"); 
                  
                  $("#contactbutton").css("background-image", "url('{% static 'static/myproject/css/dot.png' %}')"); 
                  flag = 0; 
      
                  }; 
              });
              $("#t1").mouseover(function(){
                  $("#t1").css("box-shadow", "5px 5px 5px 5px #b3b3b3");
              });
              $("#t1").mouseout(function(){
                  $("#t1").css("box-shadow", "0px 0px 0px 0px");
              });
              $("#t2").mouseover(function(){
                  $("#t2").css("box-shadow", "5px 5px 5px 5px #b3b3b3");
              });
              $("#t2").mouseout(function(){
                  $("#t2").css("box-shadow", "0px 0px 0px 0px");
              });
              $('#lef').click(function(){
                  $('html, body').animate({scrollTop:$('#home').position().top}, 1500);
                  
              });
              $('#mid').click(function(){
                  $('html, body').animate({scrollTop:$('#aboutme').position().top}, 1000);
              });
              $('#rig').click(function(){
                  $('html, body').animate({scrollTop:$('#contac').position().top}, 1500);
              });
              /////////
              $("#bu").mouseover(function(){
                  $("#bu").css("background-color", "#e6e6e6");
              });
              $("#bu").mouseout(function(){
                  $("#bu").css("background-color", "#ffffff");
              });
          });
      
          </script>      
  </head>
  <body class="contact-page" id='hm'> 
      <ul>
          <li><a href="#home" id ="lef">Home</a></li>
          <li><a href="#aboutme" id="mid">About Me</a></li>
          <li><a href="#contact" id="rig">Contact</a></li>
      </ul>
  
      <div id="home" class = "blue">
          <section class="bot">
              <a class="email-link">
                  <span class="email-spin1">Hello, I am</span>
                  <span class="email-spin">Andrew Theodore</span>
              </a>
          </section>
      </div>
      
      <div class="abo" id = "aboutme">
          <div class="cent" >About me</div>
          <div class="sub">
              <div class ="fot"></div>
              <div class = "desc">My name is Andrew Theodore and I am a computer science student. I have loved computer ever since I was little and am still fascinated by the way technology grows. I am currently studying in Universitas Indonesia as a second semester student. I also enjoy to solve competitive programming problems</div>
          </div>
      </div>
      <div class="container">
          <div class="about_page">
              <div class="speech-bubble" id = "t1">
                  <div id="tulisan">
                      <h1>Education</h1>
                      <h2>SD Babat 1 Babat</h2>
                      <h3>2006 - 2012</h3>
                      <h2>SMP Santa Clara Surabaya</h2>
                      <h3>2012 - 2015</h3>
                      <h2>SMA St Louis 1 Surabaya</h2>
                      <h3>2015 - 2018</h3>
                      <h2>University of Indonesia</h2>
                      <h3>2018</h3>
                  </div>
              </div>
              <div class="speech-bubble" id = "t2">
                  <div id ="tulisan">
                      <h1>Experience</h1>
                      <h2>Pelatnas TOKI </h2>
                      <h3>2018</h3>
                      <h2>Software Engineer Intern (GDP Labs) </h2>
                      <h3>2019</h3>
                  </div>
              </div>
          </div>
      </div>
      {% block content %}
      {% endblock %}
      
      <div id="contact" class="bott"> 
          <div class="contactbutton" id="contactbutton"></div> 
          <div class="button1"> 
              <a style="display:block" href=https://www.linkedin.com/in/andrew-theodore-t/"> </a> 
          </div> 
          <div class="button2"> 
              <a style="display:block" href="https://www.instagram.com/andrewtheodoret/"> </a> 
          </div> 
          <div class="button3"> 
              <a style="display:block" href="https://web.facebook.com/andrew.tjondrowidjodjo"> 
              </a>     
          </div> 
      </div>
      
    <!-- code suppressed for brevity -->
  </body>
</html>