.contact-page{
  width:100%;
}
.ques{
  text-align:center;
  font-size:100%;
}

form > .form-control{
  width: 50%;
  border: 2px solid black;
  font-size: 50%;
  padding: 10px;
  margin-right: 30px;
  height:50px;
  }

.kotak{
  width:50%;
  height:50px;
  font-size:40%;
  padding:10px;
  border-bottom: 2px solid black;
}

.msg{
  margin-left:10%;
  font-size:50%;
}

.en{
  font-size:50%;
}

.btn{
  border:0px;
  background-color: white;
  color:#1a8cff;
  font-size:40%;
  margin-left:46%;
}

.fom{
  padding-left:10%;
}
.cont{
  height:1000px;
  font-size:300%;
  width:100vw;
  margin-left:5%;
}

.abo{
  height:600px;
  width:100%; 
  background-color: white;
  font-size:100px;
}

.sub{
  display:flex;
  justify-content:left;  
  align-items:left;
  font-size: 30px;

}
.fot{
  width:50%; 
  height:16VW; 
  margin-right:1%;
  box-shadow: 4px 4px 2px rgba(0,0,0,.2); 
  
  position:relative; 
  cursor: pointer; 
  animation: wobble 3s infinite; 
  z-index: 10;
  background-image: url(pas.jpg); 
  background-size: 100% 100%;
  background-repeat:no-repeat;
  margin-left:10%;
}

.desc{
  font-size:100%;
  padding-left:10%;
  padding-top:4.5%;
}

.about_page,.speech-bubble,.bolong{
  display:flex;
  }
  
  .container{
    height:600px; 
    width:100%; 
    font-size:100px;
    background-color: #f2f2f2;
  }

  .speech-bubble {
    flex-direction: column;
    font-size: 100px;
    color: black;
    text-align: justify;
    height:400px;
    width:600px;
    border-radius:1%;
    order:2;
    margin-top:2%;
    margin-left:5%;
    margin-right:5%;
  }
  
  .speech-bubble h1 {
    margin:0;
    padding:0;
    font-size:40%;
    margin-bottom:40px;
  }  

  .speech-bubble h2{
    font-size:20%;
    margin:0;
    padding:0;
    margin-bottom:1.5%;
  }


  .speech-bubble h3{
    font-size:15%;
    margin:0;
    padding:0;
    margin-bottom:4%;
    margin-left:2%;
    
  }

  .cent{
    width: 20%; 
    height:5VW; 
    margin-left:40%;
    font-size:50%;
    text-align:center;
    padding-top:3%;
     
    animation: wobble 3s infinite; 
    } 

    @media screen and (max-width: 1200px) {
      .cent {
        font-size: 30%; } 
      .kotak{
        width:65%;
      }
      form > .form-control{
        width:65%;
      }
      }
    @media screen and (max-width: 766px) {
      .cent {
        font-size: 20%; } 
        .kotak{
          width:80%;
        }
        form > .form-control{
          width:65%;
        }
      }

  .tulisan{
    font-size:10%;
    align-content: center;
  }
    
  .about_page{ 
    justify-content:center;
    
    align-items:left;
    font-size: 30px;
  }
  

.bott{ 
  height:300px; 
  width:100%; 
  background-color:#cce6ff;
  box-shadow:10px 0px 2VW rgba(0,0,0,.4); 
  position:relative;  
  } 


.contactbutton{
  width: 5VW; 
  height:5VW; 
  background-color: #FF8D1A;
  box-shadow: 4px 4px 2px rgba(0,0,0,.2); 
  border-radius:50%; 
  position:relative; 
  top: 60%; 
  left: 47.5%; 
  transform:(-50%,-50%); 
  cursor: pointer; 
  animation: wobble 3s infinite; 
  z-index: 10;
  background-image: url(dot.png); 
  background-size: 5VW 5VW;
  } 
  
  .button1,.button2,.button3{ 
  width: 0.1VW; 
  height:0.1VW; 
  background-color:#fcf8cb; 
  box-shadow: 4px 4px 2px rgba(0,0,0,.2); 
  border-radius:50%; 
  position:absolute; 
  top: 62.45%; 
  left: 49.95%; 
  transform:translate(-50%,-50%); 
  z-index:0; 
  border: 1px; 
  cursor: pointer; 
  background-image: url(linkedin.png); 
  background-repeat:no-repeat; 
  background-position:center; 
  text-align:center; 
  cursor:pointer; 
  background-size:3VW 3VW; 
  animation: wobble2 3s infinite; 
  }
  
  .button2{ 
    left:50%; 
    background-image: url(instagram.png); 
    background-color:#fcf8cb; 
  } 
  
  .button3{ 
    left: 50%; 
    background-image: url(facebook.png); 
    background-color:#fcf8cb; 
  } 
  
  
  .button1 img ,.button2 img,.button3 img{ 
  max-width: 100%; 
  position:relative; 
  top:50%; 
  left:60%; 
  transform:translate(-50%,-50%); 
  display:none; 
  } 
  

  
  @keyframes wobble2 { 
  0% { -webkit-transform: rotate(0deg); } 
  20% { -webkit-transform: rotate(20deg); } 
  50% { -webkit-transform: rotate(-20deg); } 
  100% { -webkit-transform: rotate(0deg); } 
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f6f6f6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  justify-items: center;
}


li {
  float: left;
  width:33%;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #e2e2e2;
}

html {
  font-family: 'Comfortaa', sans-serif;
  }

body {
  margin: 0; }

a {
  color: #0000;
  text-decoration: none;
  position: relative; }
  a.underline:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 0.2; }
  a.underline:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 1;
    
    transform: scale3d(0, 1, 1);
    transform-origin: left center; }
  a.underline:hover:after {
    transform: scale3d(1, 1, 1); 
  }                   

.dark a {
  color: #ffffff; }
  .dark a.underline:before {
    background-color: #ffffff; }
  .dark a.underline:after {
    background-color: #ffffff; }


.blue a, .colourful a {
  color: #00ffa5; }
  .blue a.underline:before, .colourful a.underline:before {
    background-color: #00ffa5; }
  .blue a.underline:after, .colourful a.underline:after {
    background-color: #00ffa5; }

.home{
  padding: 1vh 25vh 1vh 55vh;
}
.about{
  padding: 1vh 20vh 1vh 20vh;
}


.blue { 
    background-color: #0000d9;
    color: #ffffff;
    /*background-image: linear-gradient(to bottom right, #040082 0%, red 100%); */
    
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width:100vw;
  background-image: url(Home.jpeg);

}
.blue a {
      color: #ffffff; 
} /* warna tulisan */

.contact-page footer {
  position: fixed;
  left: 0;
  bottom: 0; 
}


.bot {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;  
  align-items: center; }

.email-link {
  display: block;
  position: relative;
  padding: 10vh 0;
  -webkit-transform: rotate3d(0, 0, 1, -10deg);
  -moz-transform: rotate3d(0, 0, 1, -10deg);
  -ms-transform: rotate3d(0, 0, 1, -10deg);
  -o-transform: rotate3d(0, 0, 1, -10deg);
  transform: rotate3d(0, 0, 1, -10deg);
}
.email-link:hover .email-spin {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #ffffff; /*warna kalo di hover cuy */
  } 
.email-link:hover .email-spin--404 {
    -webkit-text-fill-color: #00ffa5;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: transparent; 
}

.email-spin1 {
  display: block;
  text-align: center;
  font-size: 70px;
  transform-origin: center center;
  animation-name: spin-me;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; 
}

@media screen and (max-width: 1200px) {
  .email-spin1 {
    font-size: 8vw; } }
@media screen and (max-width: 766px) {
  .email-spin1 {
    font-size: 8vw; } }

  /*
.email-spin {
  display: block;
  font-size: 8vw;
  font-family: 'Comfortaa', sans-serif;
  -webkit-animation-name: spin-me;
  -webkit-animation-duration: 6s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: spin-me;
  -moz-animation-duration: 6s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: spin-me;
  -o-animation-duration: 6s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: spin-me;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
  .email-spin--404 {
    font-size: 70vw; }
  @media screen and (max-width: 1200px) {
    .email-spin {
      font-size: 20vw; } }
  @media screen and (max-width: 766px) {
    .email-spin {
      font-size: 16vw; } }
      */

.email-spin {
  display: block;
  font-size: 8vw;
  font-family: 'Comfortaa', sans-serif;
  animation-name: spin-me;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
  .email-spin--404 {
    font-size: 70vw; 
  }
    @media screen and (max-width: 1200px) {
      .email-spin--404 {
        font-size: 70vw; } }
    @media screen and (max-width: 766px) {
      .email-spin--404 {
        font-size: 70vw; } }
  @media screen and (max-width: 1200px) {
    .email-spin {
      font-size: 10vw; } }
  @media screen and (max-width: 766px) {
    .email-spin {
      font-size: 10vw; } }

@-webkit-keyframes spin-me {
  0% {
    transform: rotate3d(0, 1, 0.4, -180deg); }
  50% {
    transform: rotate3d(0, 1, 0.4, 0deg); }
  100% {
    transform: rotate3d(0, 1, 0.4, 180deg); } }

@-moz-keyframes spin-me {
  0% {
    transform: rotate3d(0, 1, 0.4, -180deg); }
  50% {
    transform: rotate3d(0, 1, 0.4, 0deg); }
  100% {
    transform: rotate3d(0, 1, 0.4, 180deg); } }

@-o-keyframes spin-me {
  0% {
    transform: rotate3d(0, 1, 0.4, -180deg); }
  50% {
    transform: rotate3d(0, 1, 0.4, 0deg); }
  100% {
    transform: rotate3d(0, 1, 0.4, 180deg); } }

@keyframes spin-me {
  0% {
    transform: rotate3d(0, 1, 0.4, -180deg); }
  50% {
    transform: rotate3d(0, 1, 0.4, 0deg); }
  100% {
    transform: rotate3d(0, 1, 0.4, 180deg); } }

body,html{
  width:100%;
  min-height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}

#pageCenter{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.middleText{
  width:100%;
  display:flex;
  align-items: center;
  justify-content:center;
}

.ScheduleButtonCont{
  margin:5px;
}

.btn{
  border-radius: 25px;
  padding:10px 30px;
}

.cardBase{
  border-radius:5px;
  padding-bottom:10px;

}

@media(max-width:64rem){
  .btn{
    border-radius: 25px;
    padding:5px 25px;
  }

}

/* .middlerow {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
} */
